.text-center{
    text-align: center;
  }

.calculator {
    margin: auto;
    width: 250px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
  }
  
  .display {
    text-align: right;
    margin-bottom: 10px;
  }
  
  .keys button {
    width: 50px;
    height: 50px;
    font-size: 20px;
    margin-right: 5px;
    margin-bottom: 5px;
    background-color: #eee;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .keys button.operator {
    background-color: #f1c40f;
    color: white;
  }
  
  .keys button:last-child {
    margin-right: 0;
  }
  
  .keys button:focus {
    outline: none;
  }
  
  .keys:after {
    content: "";
    display: block;
    clear: both;
  }

  